<div class="col-lg-12 p-3 p-lg-5 pt-lg-3">
  <h1 class="display-12 fw-bold lh-1">Available Watches</h1>
</div>
<div >
  <!-- No data message -->
  <p *ngIf="Watch.length <= 0" class="no-data text-center">{{loading_message}}</p>
  <!-- Watch list -->
  <div *ngIf="Watch.length > 0 && !error_loading" class="d-grid gap-2 d-md-flex justify-content-md-start mb-4 mb-lg-3">
    <table class="table  table-striped table-borderless" *ngIf="Watch.length > 0">
      <thead class="table-dark">
        <tr>
          <th scope="col">Model</th>
          <th scope="col">Brand</th>
          <th scope="col">Price</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let watch of Watch; let i = index">
          <td>{{watch.brand.name}}</td>
          <td>{{watch.model}}</td>
          <td>{{watch.price | currency:'EUR':"symbol":"1.0-0"}}</td>
          <td class="text-center edit-block">
            <span class="edit" [routerLink]="['/payment-order/', watch.id]">
              <button type="button" class="btn btn-success btn-sm">Order</button>
            </span>
        </tr>
      </tbody>
    </table>
  </div>
  <div *ngIf="error_loading">
    <div class="yellow-black-banner"></div>
    <div class="error-banner">
      <div class="error-content">
        <span class="warning-symbol">&#9888;</span>
        <p class="error-message">Too many requests. Unable to serve watches catalog</p>
        <span class="warning-symbol">&#9888;</span>
      </div>
    </div>
    <div class="yellow-black-banner"></div>
  </div>
</div>
