.yellow-black-banner {
  height: 20px;
  background: repeating-linear-gradient(-45deg, #FDB813, #FDB813 10px, #000000 10px, #000000 20px);
}

.error-banner {
  background-color: #ffffff;
  color: #000000;
  padding: 10px;
  text-align: center;
}

.error-content {
  display: flex;
  align-items: center;
  justify-content: center;
}

.warning-symbol {
  font-size: 20px;
  margin: 0 5px;
}

.error-message {
  margin: 0;
  font-size: 30px;
}